@media ( max-width: 767px)
    .header
        justify-content: space-around
        font-size: 35px
        &__logo
            width: 200px
        &__official
            span
                font-size: 12px
        &__phone
            font-size: 17px
    .promo
        &__header
            font-size: 35px
        &__subheader
            font-size: 18px
        &__wrapper
            align-items: center
        &__icons
            width: 380px
    .consultation
        padding: 100px 0 92px 60px
    .title_left
        font-size: 30px
    .catalog
        &__content
            justify-content: center
        &-item
            margin: 0 20px 20px 45px

    
@media ( max-width: 460px)
    .consultation 
        padding: 100px 0 92px 0
        &__descr
            text-align: center
    .feed-form
        margin: 30px auto 0
    .title_left
        text-align: center 
    .carousel
        &__inner
            width: 100%
            img
                width: 100%
    .catalog
        &__tab
            width: 120px
            height: 40px
            line-height: 32px
            div
                font-size: 11px
